{% extends 'shared/layout.html' %}

{% block conteudo %}


<h1>Listagem das Ideias</h1>
<form action="/sobre" method="post">
        {% csrf_token %}
        <select name="categorias">
                <option value="TODAS">Todas as categorias</option>
                <option value="TERRA_PLANA">Terra Plana</option>
                <option value="CONTRA_GROGER">Contra o coach Groger</option>
                <option value="CONTRA_JOAO">Contra João</option>
                <option value="PUBLICAS">Públicas</option>
                <option value="OUTROS">Outros</option>
        </select>
        <input type="submit" value="Buscar">
</form>
        {% for ideia in ideias %}
                <p>{{ideia.pessoa.nome}} {{ideia.pessoa.sobrenome}}</p>
                <p>{{ideia.titulo}}</p>
                <p>{{ideia.categorias}}</p>
                <p>{{ideia.descricao}}</p>
                <hr>
        {% endfor %}
{% endblock %}
<!-- {% include 'shared/lista.html'%} -->
